<!DOCTYPE html>
<html>
  <style>
    form {
      margin: auto;
      width: 35%;
    }
    .result {
      margin: auto;
      width: 35%;
      border: 1px solid #ccc;
    }
  </style>
  <head>
    <title>Predict Emotions</title>
  </head>
  <form action="{{ url_for('main') }}" method="POST">
    <fieldset>
      <legend>Input values:</legend>
      Person 1:
      <input name="p1" type="text" required />
      <br />
      Person 2:
      <input name="p2" type="text" required />
      <br />
      Person 1:
      <input name="p3" type="text" required />
      <br />
      Person 2:
      <input name="p4" type="text" required />
      <br />
      Person 1:
      <input name="p5" type="text" required />
      <br />
      <input type="submit" />
    </fieldset>
  </form>
  <br />
  <div class="result" align="center">
    Predicted emotion:
    <p style="font-size: 30px">{{ result }}</p>
    Emotion score: {{score}}
    <br />
    <br />
    Evidence: {{output}}
  </div>
</html>
